body {
    background-image: url(../images/markus-spiske-70Rir5vB96U-unsplash.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.carousel-caption {
    background: rgb(255, 255, 255, 0.9);
    border-radius: 25px;
    border: 1px solid black;
    padding: 5px 0 5px 0px;
}

.caption-text-head {
    color: black;
}

.caption-text-paragraph {
    color: black;
}